/* laptop(max-width:1500px - min-width:769px) */
@media all and (max-width: 1500px) and (min-width: 769px) {
    /* .box_inner {
        width: 1200px;
        height: 100vh;
        margin: 0 auto;
        background-color: lightblue;
    } */

    .viewImgList li .roll_txtline1 {
        position: absolute;
        left: 120px;
        top: 230px;
        /* width: 100%; */
        line-height: 1;
        font-size: 25px;
        font-weight: bold;
        color: #333;
        /* letter-spacing: 2px; */
    }
    .viewImgList li .roll_txtline2 {
        position: absolute;
        left: 120px;
        top: 300px;
        /* width: 100%; */
        line-height: 1.3;
        font-size: 22px;
        color: #333;
        letter-spacing: 2px;
    }
    .viewImgList li .roll_txtline3 {
        position: absolute;
        left: 120px;
        top: 270px;
        /* width: 100%; */
        line-height: 1;
        font-size: 25px;
        font-weight: bold;
        color: #333;
        /* letter-spacing: 2px; */
    }
    .viewImgList li .roll_txtline4 {
        position: absolute;
        left: 120px;
        top: 350px;
        /* width: 100%; */
        line-height: 1.3;
        font-size: 22px;
        color: #333;
        letter-spacing: 2px;
    }
    .viewImgList li .roll_txtline5 {
        position: absolute;
        left: 120px;
        top: 250px;
        /* width: 100%; */
        line-height: 1;
        font-size: 25px;
        font-weight: bold;
        color: #333;
        /* letter-spacing: 2px; */
    }
    .viewImgList li .roll_txtline6 {
        position: absolute;
        left: 120px;
        top: 330px;
        /* width: 100%; */
        line-height: 1.3;
        font-size: 22px;
        color: #333;
        letter-spacing: 2px;
    }
    /* ********************************** */
    .index_brand_img img {
        width: 900px;
        height: 500px;
    }
    .index_brand_txt {
        padding: 105px 0px 105px 130px;
     }

    /* .index_product_img {
        position: relative;
        width: 1000px;
        height: 600px;
        margin: 0 auto;
        overflow: hidden;
    }
    .slides li img {
        width: 200px;
        height: 400px;
    }
    .slides li:not(:last-child) {
        margin-right: 30px;
    } */
    .index_product_txt {
        padding: 120px 0px 120px 70px;
    }

    .index_store_img img {
        width: 900px;
        height: 500px;
    }
    .index_store_txt {
        padding: 105px 0px 105px 130px;
    }

    /* footer content */
    .footer_1 {
        padding-top: 50px;
    }
    .footer_1 img {
        padding-top: 0;
        padding-right: 25px;
        
    }
     
}