/* 모바일(768px) */
@media all and (max-width: 768px) {
    .box_inner {
        width: 100%;
    }
    .header_cont {
        flex-direction: column;
    }
    .gnb_2 {
        display: none;
    }
    
    /* .header_cont .logo {
        display: inline-block;
        padding: -100px;
    } */

    /* menu bar */
    /* .gnb_1 {
        display: none;
    }
    .toggle_menu {
        display: flex;
    }
    .logo {
       
    }
    .logo a img {
        display: flex;
        justify-content: center;
    } */

    .viewImgList li.imglist0 {
        background: url(../img/index_main11_img.png);
    }
    .viewImgList li.imglist1 {
        background: url(../img/index_main222_img.png);
    }
    .viewImgList li.imglist2 {
        background: url(../img/index_main333_img.png);   
    }
    .viewImgList li .roll_txtline1, .viewImgList li .roll_txtline3, .viewImgList li .roll_txtline5 {
        font-size: 20px;
        left: 50px;
    }
    .viewImgList li .roll_txtline2, .viewImgList li .roll_txtline4, .viewImgList li .roll_txtline6 {
        font-size: 17px;
        left: 50px;
    }

    /* index_brand content */
    .index_brand, .index_store {
        width: 100%;
        height: 100%;
        /* display: block; */
        /* display: flex; */
        flex-wrap: wrap ;
        flex-direction: column-reverse;
    }
    .index_product {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }
    .index_brand_img img, .index_store_img img {
        width: 768px;
    }
    .index_brand_txt, .index_store_txt, .index_product_txt {
        padding: 80px 0px 80px 50px;
        display: flex;
     }
     .index_product_txt {
        padding: 80px 0px 0 50px;
        display: flex;
     }
     .index_brand_txt1 p, .index_store_txt1 p, .index_product_txt1 p {
        display: inline-block;
        padding-left: 20px;
     }
     .index_brand_txt2, .index_product_txt2, .index_store_txt2{
        display: none;
     }

     /* footer content */
    .footer_1 {
        padding-top: 50px;
    }
    .footer_1 img {
        padding-top: 0;
        padding-right: 25px;
        
    }
     .footer_5 span {
        padding-top: 25px;
        padding-right: 0;
    }

    /* abot content */
    .about_backimg h1 {
        font-size: 25px;
        padding: 100px 0 100px;
        animation-iteration-count: none;
    }

    /* product content */
    .product_box {
        width: 100%;
        height: 100%;
    }
    .product_box1 img, .product_box1 p {
        display: inline-block;
        width: 40%;
    }
    
}