* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
    color: #333;
}
html, body, div, span, applet, object, iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,button,table,caption,tbody,tfoot,header,hgroup,
menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit; /* 지정한 값을 쓰겠다. */
}

/* html5 reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1; /* =100% */
}

/* align, border, input */
img,
fieldset,
a {
  border: none;
}
img {
  vertical-align: middle;
}
table,
thead,
tbody,
tfoot {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0 none;
}
ul,
ol,
li {
  list-style: none;
}
address,
em {
  /* em : 기울기 */
  font-style: normal;
}
input,
select,
textarea,
button,
form img,
label {
  vertical-align: middle;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}
.wrap {
    width: 100%;
}
.box_inner {
    width: 1200px;
    margin: 0 auto;
    
}

/* header */
.header_cont {
    width: 100%;
    display: flex;
    height: 100px;
    padding-top: 55px;
}
.gnb_1 {
    width: 500px;
    height: 45px;
    display: flex;
}
.gnb_1 li {
    width: 100px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    position: relative;
}
.gnb_1 li:hover .mainNav {
    border-bottom: 3px solid #384d75;
    color: #5a80c9;
}
.gnb_1 li .mainNav {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 900;
    display: block;
}
.gnb_1 li .submenu_list {
    width: 100%;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    display: none;
}
.gnb_1 li:hover .submenu_list {
    display: block;
    z-index: 60;
}
.gnb_1 li .submenu_list li a:hover {
    color: #5a80c9;
    font-weight: bold;
}
.logo {
    width: 200px;
    height: 45px;
    padding: 0 40px;
    margin-top: -10px;
}

.gnb_2 {
    width: 500px;
    height: 45px;
}
.gnb_2 .gnb_2_box {
    width: 100%;
    height: 100%;
    padding-left: 290px;
    display: flex;
}
.gnb_2 li {
    width: 70px;
    height: 45px;
    position: relative;
}
.gnb_2 li:hover .mainNav {
    border-bottom: 3px solid #384d75;
}
.gnb_2 li .mainNav {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 900;
    display: block;
}
.gnb_2 li img {
    display: block;
    padding: 8px 20px;
}
.gnb_2 li .submenu_list {
    width: 100%;
    height: 90px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    display: none;
}
.gnb_2 li:hover .submenu_list {
    display: block;
    z-index: 60;
    position: absolute;
}
.gnb_2 li .submenu_list li {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
}
.gnb_2 li .submenu_list li a:hover {
    color: #5a80c9;
    font-weight: bold;
}

/* main rolling */
.container {
    padding-bottom: 70px;
}
.visualRoll {
    position: relative;
    width: 100%;
}
.viewImgList {
    position: relative;
    width: 100%;
}
.viewImgList li {
    text-align: center;
    height: 700px;
    line-height: 700px;
}
.viewImgList li.imglist0 {
    position: relative;
    z-index: 50;
    background: url(../img/index_main1_img.png) no-repeat center;
}
.viewImgList li.imglist1 {
    position: absolute;
    z-index: 0;
    width: 100%;
    left: 0;
    top: 0;
    background: url(../img/index_main2_img.png) no-repeat center;
}
.viewImgList li.imglist2 {
    position: absolute;
    z-index: 0;
    width: 100%;
    left: 0;
    top: 0;
    background: url(../img/index_main3_img.png) no-repeat center;
}
.viewImgList li {
    background-size: cover !important;
}
.viewImgList li .roll_content {
    position: relative;
}
.viewImgList li .roll_content .roll_txtline {
    position: absolute;
    left: 0;
    bottom: 60px;
    width: 100%;
    line-height: 1;
    text-align: center;
    font-size: 22px;
    color: #000;
    letter-spacing: 2px;
}

.rollbtnArea {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 25px;
    z-index: 200;
}
.rollbtnArea .rollingbtn {
    width: 320px;
    margin: 0 auto;
    text-align: center;
}
.rollbtnArea .rollingbtn li {
    display: inline-block;
    margin-right: 5px;
}
.rollbtnArea .rollingbtn li.butt0 {
    margin-left: 10px;
}
.rollbtnArea .rollingbtn li.rollstop {
    display: none;
}
.rollbtnArea .rollingbtn li a {
    vertical-align: top;
}

/* 
index_main_img
.index_backimg {
    clear: both;
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}
#slides {
    position: absolute;
}
#slides > img {
    width: 100%;
    float: left;
    
}
.index_butt {
    position: absolute;
    height: 600px; 
    top: 0;
    border: none;
    padding: 20px;
    background-color: transparent; /
    color: #000;
    font-weight: 800;
    font-size: 24px;
    opacity: 1;
}
#prev {
    left: 0; 
}
#next {
    right: 0;
}
button:hover {
    background-color: #222;
    color: #fff;
    opacity: 0.6;
    cursor: pointer;
}
button:focus {
  outline:0;
} */

/* index_brand */
.index_brand {
    width: 100%;
    height: 500px;
    display: flex;
    background-color: #f5f5f5;
}
.index_brand_txt {
   padding: 105px 0px 105px 163px;
}
.index_brand_txt1 p {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
   
}
.index_brand_txt2 {
    display: inline-block;
    width: 150px;
    height: 60px;
    line-height: 60px;
    border: 2px solid #333;
    margin-left: 40px;
    margin-top: 50px;
    
}
.index_brand_txt2:hover {
    border: 2px solid #384d75;
    background-color: #384d75;
    color: #fff;
 }
.index_brand_txt2 p {
    font-size: 16px;
    text-align: center;
}
.index_brand_txt2 p a:hover {
    color: #fff;
    font-weight: bold;
}

/* index_product */
.index_product {
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
}
.index_product_txt {
    padding: 120px 0px 120px 190px;
 }
 .index_product_txt1 p {
     font-size: 45px;
     font-weight: bold;
     text-align: center;
     padding: 10px 0;
    
 }
 .index_product_txt2 {
     display: inline-block;
     width: 150px;
     height: 60px;
     line-height: 60px;
     border: 2px solid #333;
     margin-left: 40px;
     margin-top: 50px;
     
 }
 .index_product_txt2:hover {
     border: 2px solid #384d75;
     background-color: #384d75;
     color: #fff;
  }
 .index_product_txt2 p {
     font-size: 16px;
     text-align: center;
 }
 .index_product_txt2 p a:hover {
     color: #fff;
     font-weight: bold;
 }

 .index_product_img {
    position: relative;
    width: 1080px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
 }
.slides {
    position:absolute;
    left: 0px;
    top: 75px;
    z-index: 1;
    display: flex;
    cursor: pointer;
   
}
.slides.animated {
    transition: 0.5s ease-out;
}
.slides li {
    border: 1px solid #ccc;
}
.slides li:not(:last-child) {
    margin-right: 60px;
}
.controls {
    text-align: center;
    padding-top: 550px;
    cursor: pointer;
}
.controls span {
   
    padding: 10px 20px;
    margin: 0 10px;
}


/* index_store */
.index_store {
    width: 100%;
    height: 500px;
    display: flex;
    background-color: #f5f5f5;
}
.index_store_txt {
    padding: 105px 0px 105px 163px;
 }
 .index_store_txt1 p {
     font-size: 45px;
     font-weight: bold;
     text-align: center;
     padding: 10px 0;
    
 }
 .index_store_txt2 {
     display: inline-block;
     width: 150px;
     height: 60px;
     line-height: 60px;
     margin-left: 30px;
     margin-top: 50px;
     border: 2px solid #333;
     
 }
 .index_store_txt2:hover {
    border: 2px solid #384d75;
    background-color: #384d75;
    color: #fff;
 }
 .index_store_txt2 p {
     font-size: 16px;
     text-align: center;
 }
 .index_store_txt2 p:hover {
    color: #fff;
    font-weight: bold;
}

/* footer style */
.footer {
    height: 300px;
    border-top: 1px solid #b6a6a6;
}
.font_size p {
    font-size: 13px;
}
.footer_1 img {
    padding-top: 55px;
    padding-right: 25px;
    
}
.footer_1 p {
    font-size: 15px;
    display: inline-block;
}
.gubun p:after {
    content: "|";
    padding: 0 10px;
    font-size: 12px;
    color: #000;
    position: relative;
}
.gubun p:last-child:after {
    content: "";
    display: none;
  }
.footer_2 p {
    padding-top: 25px;
    display: inline-block;
}
.footer_3 p {
    padding-top: 15px;
    display: inline-block;
}
.footer_4 p {
     padding-top: 15px;
     display: inline-block;
}
.footer_5 {
    display: flex;
}
.footer_5 img {
    padding-top: 15px;
    padding-left: 10px;
}
.footer_5 p {
    padding-top: 25px;
    padding-right: 530px;
}
.last {
    font-weight: bold;
}

/* about style */
.about_backimg {
    background-image: url(../img/about_backimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    position: relative;
}
.about_backimg h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 136px 0 137px;
    animation: slide 2s ease-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
@keyframes slide {
    from {
        left: -50px;
        opacity: 0;
    }

    to {
        left: 50%;
        opacity: 1;
    }
}
@keyframes disappear {
    from {
        left: 50%;
        opacity: 1;
    }
    to {
        left: -50px;
        opacity: 0;
    }
}
.about_phil h1 {
    padding-top: 100px;
    font-size: 30px;
}
.phil_box {
    padding: 32px 0 100px;
    display: flex;
}
.phil2 {
    padding: 0 15px;
}
.phil_txt1 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
}
.phil_txt2 {
    text-align: center;
    padding-top: 17px;

}
.about_subimg {
    background: url(../img/about_subimg.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}
.about_vegan {
    background: url(../img/about_bg.png);
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
}
.vegan_box {
    display: flex;
    padding: 126px 0 127px;
}
.vegan_1, .vegan_2, .vegan_3 {
    display: flex;
    padding-left: 50px;
}
.vegan_2 {
    padding: 53px 50px;
}
.vegan_3 img {
    width: 80px;
    height: 80px;
}
.vegan_4 {
    padding: 76px 100px 76px;
}
.vegan_txt {
    padding-left: 60px;
}
.vegan_txt1 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}
.vegan_txt2 {
    font-size: 18px;
    font-weight: bold;
    color: #146A83;
}
.vegan_txt3 {
    font-size: 30px;
    font-weight: bold;
    padding: 5px 0 20px;
}
.about_map {
    display: flex;
}
.map_txt {
    padding: 120px 133px 120px 8px;
}
.map_txt1 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 37px;
}
.map_box {
    display: flex;
    padding-top: 25px;
}
.map_txt2 {
    color: #146A83;
   
    padding-left: 10px;
    font-weight: bold;
}
.map_txt3 {
    color: #146A83;
    
    padding-left: 10px;
    display: inline-block;
}

/* product style */
.product_backimg {
    background: url(../img/product_main_img.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.product_backimg h1 {
    font-size: 30px;
    font-weight: 900;
    padding-top: 110px;
    padding-left: 88px;
}
.product_backimg p {
padding-top: 25px;
padding-left:88px;
line-height: 25px;
}
.product_box1 {
    width: 100%;
    height: 600px;
    display: flex;
}
.product_1, .product_2, .product_3, .product_4, .product_5, .product_6,
.product_7, .product_8, .product_9 {
    display: inline-block;
}
.product_1 {
    padding: 60px 0 60px 70px;
}
.product_img {
    width: 300px;
    position: relative;
}
.product_item {
    position: absolute;
    top: 0;
    left: 0;
   /*  display: none; */
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s linear;
    
}
.product_img:hover .product_item {
    /* display: block; */
    opacity: 1;
}
.product_2 {
    padding: 60px 70px 60px 70px;
}
.product_3 {
    padding: 60px 70px 60px 0;
}
.product_box2 {
    width: 100%;
    height: 600px;
    display: flex;
}
.product_4 {
    padding: 0 0 60px 70px;
}
.product_5 {
    padding: 0 70px 60px 70px;
}
.product_6 {
    padding: 0 70px 60px 0;
}
.product_box3 {
    width: 100%;
    height: 600px;
    display: flex;
}
.product_7 {
    padding: 0 0 0 70px;
}
.product_8 {
    padding: 0 70px 0 70px;
}
.product_9 {
    padding: 0 70px 0 0;
}
.product_txt1 {
    text-align: center;
    font-size: 15px;
}
.product_txt2 {
    text-align: center;
    font-weight: 900;
    padding-top: 10px;
}
.product_txt3 {
    text-align: center;
    padding-top: 25px;
}
.pagination {
    text-align: center;
    padding-bottom: 40px;
  }
  .pbtn {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .pagenum {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .pagenum:hover {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    background-color: #384d75;
  }
  .currentpage {
    display: inline-block;
    font-weight: bold;
    border: 1px solid #384d75;
  }

  .to_top {
    position: fixed;
    right: 20px;
    bottom: 112px;
    text-align: center;
    background: none;
    z-index: 100;
  }
  .to_top a {
    display: block;
    width: 45px;
    height: 45px;
    border-left: none;
    border-right: none;
    background: url(../img/ico_totop_mo.png) no-repeat center;
    background-size: 45px;
  }
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 모바일(768px) */
@media all and (max-width: 768px) {
    .header_cont {
        flex-direction: column;
    }
    
    .header_cont .logo {
        display: inline-block;
        padding: -100px;
    }
}